.hide {
	display: none;
}
.show {
	display: flex;
}
.left {
	float: left;
}
.right {
	float: right;
}
.score {
	display: inline;
}
.container {
	display: flex;
	justify-content: space-between;
}
.choice_cont {
	white-space: nowrap;
  overflow-x: auto;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.green {
	color: green;
}
.red {
	color: red;
}
.gray {
	color: gray;
}
img {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 0 auto;
}